<div class="container pt-5">
  <div class="card bg-dark text-white">
    <div class="card-header text-center">
      <h3>Beat Covid</h3>
    </div>
    <div class="card-body">

      <h3>What is this?</h3>
      <p>
        Game made for <a href="https://covid-global-hackathon.devpost.com/">COVID-19 Global Hackathon</a>
      </p>
      <h3>How to play?</h3>
      <p>
        Press start game. Area around your mouse cursor will detect sick people. Clicking while they are detected will start treatment. When there are no more infected people, your score will be converted to money. After you buy upgrades, you can restart the game and play again. Every round you will start with more infected people. You can zoom in using mouse wheel, and move camera by dragging mouse, or using arrow keys.
      </p>
      <p>
        Check code on <a href="https://github.com/MilanHalada/beat-covid">GitHub</a>
      </p>

      <a href="/game"><h3>----->Start game<-----</h3></a>
      <img src="/assets/images/splash.png" alt="image" class="card-img" />

    </div>
    <div class="card-footer">
      <p>
        Made by <a href="https://halada.sk">Milan Halada</a>
      </p>
    </div>
  </div>
</div>
